<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
  </head>
  <body>
    <form action="/createUser" method="post">
  
      <div class="container">
      
        <label for="userName"><b>userName</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required>
    
        <label for="password"><b>password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <button type="submit">Create User</button>
        
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        
        
      </div>
    </form><br>
     <form action="/loginUser" method="post">
  
      <div class="container">
      
        <label for="userName"><b>userName</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required>
    
        <label for="password"><b>password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <button type="login">Login User</button>
        
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        
        
      </div>
    </form>
  </body>
</html>